/* custom.css 예시 */
.navbar-nav.gap-3 > .nav-item {
    margin-left: 1rem; /* gap 대신 margin 필요시 */
    margin-right: 1rem;
}

.navbar-nav.py-3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* 회원 아이콘 버튼 크기 및 마진 조절 */
.btn-link.nav-link.p-0 {
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.navbar-toggler {
    display: block !important;
}

.dropdown-menu.bg-black .dropdown-item {
    background-color: black;
    color: white;
}

.dropdown-menu.bg-black .dropdown-item:hover,
.dropdown-menu.bg-black .dropdown-item:focus {
    background-color: black !important; /* 호버해도 배경 유지 */
    color: grey !important;
}

